
.answerButton{
	-fx-background-radius: 0;
	-fx-pref-height: 60;
	-fx-pref-width: 300;
	-fx-max-width: 800;
}

.nextButton{
	-fx-pref-height: 49;
	-fx-pref-width: 320;
	-fx-font-size: 26;
	-fx-background-color: #EF4649;
	-fx-text-fill: white;
}

.root{
	-fx-background-color: #fbe2c2;
}

.textControl{
	-fx-alignment: center;
	-fx-font-family: "Berlin Sans FB Demi Bold";
}

.radio-button, .check-box{
	-fx-padding: 8 40 8 20;
	-fx-background-radius: 30;
	-fx-background-color: #b0aeae;
	-fx-font-size: 16px;
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-font-family: "Berlin Sans FB Demi Bold";
}

.radio-button > .radio {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0px;
  -fx-padding: 0.0em; /* 4 8 4 8 */
  visibility: hidden;
}

.radio-button:selected > .radio > .dot {
  -fx-background-color: transparent;
  visibility: hidden;
}

.check-box > .box {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0px;
  -fx-padding: 0.0em; /* 4 8 4 8 */
  visibility: hidden;
}

.check-box:selected > .box > .mark {
  -fx-background-color: transparent;
  visibility: hidden;
}

#EXCLUSIVITY{
	-fx-padding: 8 30 8 10;
}

#EXCLUSIVITY:selected, #MULTIPLY_PER_THREE:selected, #MULTIPLY_PER_TWO:selected{
	-fx-background-color: #47c421;
}

.check-box:selected, .radio-button:selected{
	-fx-background-color: #42BAE0;
}

#ordered-choice .label{
	-fx-padding: 0 0 10 0;
	-fx-background-radius: 30;
	-fx-font-size: 20px;
	-fx-alignment: center;
	-fx-font-family: "Berlin Sans FB Demi Bold";
}

#group-choice .label{
	-fx-padding: 0 0 10 0;
	-fx-background-radius: 30;
	-fx-font-size: 20px;
	-fx-alignment: center;
	-fx-font-family: "Berlin Sans FB Demi Bold";
}

#group-choice .combo-box{
	-fx-background-radius: 30;
	-fx-background-color: #42BAE0;
	-fx-font-size: 16px;
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-font-family: "Berlin Sans FB Demi Bold";
}


